<h1>Favorite Restaurants</h1>

<p>
  <%= link_to "Add a new Restaurant to your Favorites", new_restaurant_path %>
</p>

<ul>
<% @restaurants.each do |restaurant| %>
  <li>
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
  </li>
<% end %>
</ul>

<p>
<%= link_to "Find out where you can create something like this yourself", "https://www.lewagon.com"  %>
</p>
